# dependencies
node_modules/
.pnpm-store/

# next.js
/.next/
/out/
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (templates: .env.example)
.env
.env.local
.env.*.local

# vercel
.vercel

# typescript / turbo
.turbo

# coverage
coverage/
*.lcov
